form {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  
  input[type="text"] {
    width: 70%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
  }
  
  button:hover {
    background: #2980b9;
  }